{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}

{{ wtf.quick_form(form) }}

<div class="page-header">
    {{  super() }}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Todos</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>
                  <a href="#" id="todo_{{ loop.index }}" data-type="textarea" data-url="/edit_todo" data-pk="{{ todo.id }}" data-name="text" data-title="Edit todo">{{ todo.text }}</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="/static/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
        $.fn.editable.defaults.mode = 'inline';
    </script>

    {% for todo in todos %}
        <script>
            $('#todo_{{ loop.index }}').editable({
                placement: "right",
                error: function (errors) {
                }
            });
        </script>
    {% endfor %}
{% endblock %}
